<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>

     <th:block th:replace="~{fragments/resources :: headTags}"></th:block>
</head>
<body>

    <header>
        <th:block th:replace="~{fragments/fragments :: navigationBar}"></th:block> 
    </header>    

    <main>
        <section>
            <div class="container" >

            
                <h3 th:text="|Dettagli ${plant.commonName}|"></h3>                
                       
                    <div class="card mb-3" th:object="${plant}">
                        <div class="row g-0">
                            <div class="col-md-4">
                            <img th:src="|http://localhost:8080*{imageUrl}|" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" >Informazioni</h5>
                                <p th:text="|Nome comune: *{commonName}|"></p>
                                <p th:text="|Nome scientifico: *{scientificName}|"> </p>
                                <p th:text="|Description: *{description}|"> </p>
                                <p th:text="|Habitat: *{habitat}|"> </p>
                                <p th:text="|Family: *{family}|"> </p>
                                <p th:text="|Tossicità: *{toxic}|"> </p>
                                <p th:text="|Url Immage : *{imageUrl}|"> </p>
                            </div>
                            <div class="row">
                            <div class="col-6">
                                <h5 class="mb-3 text-success">🌿 Benefici</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:each="benefit : ${plant.getBenefits()}" th:object="${benefit}"> <span th:text="*{name}"></span></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <h5 class="mb-3 text-danger">⚠️ Controindicazioni</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:each="ci : ${plant.getControindications()}" th:object="${ci}"> <span th:text="*{name}"></span></li>
                                </ul>
                            </div>
                        </div>
                            </div> 

                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        

    </main>
    <footer>
    </footer>

     <th:block th:replace="~{fragments/resources :: scripts}"></th:block> 
</body>
</html>