<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>fragments</title>

    <th:block th:replace="~{fragments/resources :: headTags}"></th:block>
</head>
<body>
    <header>
        <th:block th:fragment="navigationBar">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">The Garden</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" th:href="@{/plants/index}">Plants</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" th:href="@{/benefits/index}">Benefits</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" th:href="@{/controindications/index}">Controindications</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" th:href="@{/families/index}">Families</a>
                            </li>
                            <li class="nav-item dropdown">
                            
                        </ul>
                        <!-- <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->


                        <div class="ms-2">
                            <!-- Se l'utente è autenticato -->
                            <div sec:authorize="isAuthenticated()">
                                Logged as:<span class="ms-2 text-muted" sec:authentication="name" ></span>
                                Role:<span class="ms-2 text-muted" sec:authentication="principal.authorities" ></span>
                                <a class="btn btn-sm btn-outline-primary" href="/logout">Sign out</a>
                            
                            </div>

                            <!-- Se l'utente NON è autenticato -->
                            <div sec:authorize="!isAuthenticated()">
                                <a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </nav>
        </th:block>
            
    </header>


    
    <th:block th:replace="~{fragments/resources :: scripts}"></th:block>
</body> 
</html>