<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resources</title>

    <!-- Bootstrap e CSS  e metadati-->
     <th:block th:fragment="headTags">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
            <!-- <link th:rel="stylesheet" th:href="@{/css/style.css}"> -->
     </th:block>

     <th:block th:fragment="scriptView">
      <script>
            const VIEW_KEY = 'plantsViewMode';

            (function () {
            var mode = localStorage.getItem(VIEW_KEY) || 'table';
            var css;
            if (mode === 'card') {
                css = '#tableView { display: none; }';
            } else {
                css = '#cardView { display: none; }';
            }
            var style = document.createElement('style');
            style.textContent = css;
            document.head.appendChild(style);
            window.addEventListener('DOMContentLoaded', function () {
                var tableView = document.getElementById('tableView');
                var cardView  = document.getElementById('cardView');
                var switchEl  = document.getElementById('viewSwitch');

                // inizializzo lo switch
                switchEl.checked = (mode === 'card');

                switchEl.addEventListener('change', function () {
                var newMode = this.checked ? 'card' : 'table';
                localStorage.setItem(VIEW_KEY, newMode);

                if (newMode === 'card') {
                    tableView.style.display = 'none';
                    cardView.style.display = '';
                } else {
                    cardView.style.display = 'none';
                    tableView.style.display = '';
                }
                window.location.reload();
                });
            });
            })();
        </script>
    </th:block>
    
</head>
<body>
    


    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    </th:block>

    
    
</body> 
</html>